<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a1stopclick">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".OneStopClickApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".userregistration.UserRegistrationActivity" />
        <activity android:name=".mainactivity.HomeActivity">

        </activity>
        <activity android:name=".forgetpassword.ForgetPasswordActivity" />

        <activity android:name=".albumdetails.AlbumDetailActivity" />
        <activity android:name=".moviedetails.MovieDetailActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5d2211b2fca4d57db4d52328a8a91ebaaec8141c" />
    </application>
</manifest>
